html,body,div,ul,li,svg,text{
    margin:0;
    padding:0;
    list-style:none;
    font-family: 'Roboto', sans-serif;
}

/*------------Global-------------*/
html{
    min-height: 100%;
    position:relative;
}
h1{
    margin-left:2%;
    margin-top:3%;
    margin-bottom: 5px;
    font-family: "Bodoni 72",serif;
    font-size: 3em;
}
h2{
    margin-left:2%;
}
#intro{
    margin-left: 2%;
    margin-top: 20px;
    width: 50%;
    font-size: 1em;
    line-height: 170%;
}

body{
    height: 100%;
    /*position: relative;*/
    background: #FDFEFF;
}
.main{
    width:100%;

}

.plot{
    width: 25%;
    height: 300px;
    float:left;
}

.container .section{
    width:100%;
}
.canvas{
    width:100%;
    height:400px;
    clear: left;
    /*float: left;*/
}
.news_table{
    width: 30%;
    height: 400px;
    float: left;
}



table{
    padding: 0px;
    margin: 0px;
}
select{

    font-weight: bold;
}
option{
    font-weight: bold;
}
.news_table table{
    /*margin-top:20px;*/
}
.canvas1{
    width:100%;
    height:700px;
}
.container .controls{
    margin-bottom:20px;
}

.axis--x path,.axis--y path{
    display: none;
}
.axis--y text{
    display: none;
}
.yText{
    display: block !important;
}
.axis--x line,.axis--y line{
    stroke: rgb(185, 185, 185);
    stroke-dasharray: 5;
    display: none;
}
.axis--x text,.axis--y text{

    font-weight: 700;
}


.overlay {
    fill: none;
    pointer-events: all;
}
.focus circle {
    fill: steelblue;
    stroke: steelblue;
}


/* line class */
.flight_line{
    stroke: #ffa902;
    fill: none;
}
.bomber_line{
    stroke: #90c9e8;
    fill:none;
}
.off_s_line{
    stroke: #ff7302;
    fill:none;
}
.playsuit_line{
    stroke: #105378;
    fill:none;

}

.all_circle.flight_line{
       stroke-width: 3;
       fill: #ffa902;
   }

.all_circle.bomber_line{
    stroke-width: 3;
    fill: #90c9e8;
}
.all_circle.off_s_line{
    stroke-width: 3;
    fill: #ff7302;
}
.all_circle.playsuit_line{
    stroke-width: 3;
    fill: #105378;
}
.all_circle{
    stroke:black;
}

/*Word Cloud*/
.wordCloud{
    /*background-color: #116e99;*/
    width: 70%;
    height: 350px;
    float: right;
    /*padding: 50px 50px;*/
    margin-bottom:50px;

}


/* scroll scene*/
#scrollIndicator{
    position: fixed;
    top:15%;
    right:1%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#scrollIndicator img{
    width: 25px;
}
#scrollIndicator p {
    margin: 0px;
    font-weight: bold;
}